#round {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 135%;
}

#bigbigwrap {
  width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}



#sliderwrap {
  height: 420px;
}

#slider {
  height:150px;
  margin-top: 10px;
  background-color: #9DE0AD;
}

#showValue {
  text-align: right;
}

.ui-state-disabled {
  opacity: 1;
}

.ui-slider-handle {
 text-align:center;
 text-decoration: none;
}

.ui-slider-range { 
 background-image:none;
 background-color: #D2691E; 
}



#bigwrap {
  text-align: center;
  width: 550px;
  font-size: 135%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction : column;
}

#ballonwrap {
  height: 420px;
  border: solid black 1px;
  border-radius: 5px;
  width: 100%;
  background: #fff;
}

#ballon {
  height: 150px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -380px;
}


#press, #collect, #goOn, #gonext {
  cursor: pointer;
  background: #ddd;
}

#press:hover, #collect:hover, #goOn:hover, #gonext:hover {
  background-color: #c2c2c2;
}


/* CSS */
.button-flat {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-flat:hover {
  background-color: #fff;
}

.button-flat:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-flat {
    min-width: 120px;
    padding: 0 25px;
  }
}